<div class="footer">
  <mat-toolbar class="app-footer-container">
    <span>{{copywrite}}</span>
    <div class="social-list">
      <ul>
        <li><a href="https://www.facebook.com/felipe.mitsuishi"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/baz_felipe/"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://github.com/Felipe-Baz"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/felipe-baz-mitsuishi/"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
  </mat-toolbar>
</div>
